@model IEnumerable<HOSPITALMANAGEMENTSYSTEM.Models.Doctors>

@{
    ViewBag.Title = "DoctorSpecialization";
    Layout = "~/Views/Admin/AdminMaster.cshtml";
}

<h2>DoctorSpecialization</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoctId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phonenumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spclId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.specializationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DoctId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phonenumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spclId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.specializationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
