@using PagedList.Mvc

@model  PagedList.IPagedList<HOSPITALMANAGEMENTSYSTEM.Models.Doctors>

@{
    ViewBag.Title = "ViewDoctor";
    Layout = "~/Views/Admin/AdminMaster.cshtml";
}
@if (Model==null)
{
    <h1 style="color:red;text-align:center;margin-top:100px">@ViewBag.info</h1>
}
else
{
<center>
    <div style=" background-color: rgba(128,128,128,0.2);margin-top:20PX ">
        <h1 class="text-dark">DOCTORS</h1>

    </div>
    <table style="width:100%;" class="table  table-hover">
        <thead>
            <tr>
                <th>
                    DOCTOR ID
                </th>
                <th>
                    DOCTOR NAME
                </th>
                <th>
                    GENDER
                </th>
                <th>
                    ADDRESS
                </th>

                <th>
                    PHONE NUMBER
                </th>
                <th>
                    AGE
                </th>
                <th>
                    SPECIALIZATION
                </th>

                <th>
                    EMAIL
                </th>
                <th>
                    PASSWORD
                </th>
                <th>
                    OPERATION
                </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phonenumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.specializationName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>

                    @Html.ActionLink(" ", "EditDoctor", new { id = item.DoctId }, new { @class = "fas fa-edit", @style = "font-size:24px;margin-left:5px;color:black" })
                    @Html.ActionLink(" ", "DeleteDoctor", new { id = item.DoctId }, new { @class = "bi bi-trash-fill", @style = "font-size:24px;margin-left:25px;color:black" })

                </td>
            </tr>
            }
        </tbody>
    </table>
    @if (Model.HasNextPage|| Model.HasPreviousPage)
    {
    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-left: 450px">
            @Html.PagedListPager(Model, page => Url.Action("ViewDoctor", new { page }))
        </div>
    </div>
    }
</center>
}
