@model HOSPITALMANAGEMENTSYSTEM.Models.Prescription

@{
    ViewBag.Title = "EditPrescription";
    Layout = "~/Views/Doctor/DoctorMaster.cshtml";
}

<h2>EditPrescription</h2>

@using (Html.BeginForm("EditPrescription","Doctor",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
<center>
    @*<h1 class="text-dark" style="margin-top:20px">Doctor Registration</h1>*@
    <div class="container-fluid">
        <div class="card" style="width: 50%; margin-top: 20px; ">
            <div style=" background-color: rgba(128,128,128,0.2); ">
                <b style="font-size:x-large">EDIT PRESCRIPTION </b>
            </div>
            <div class="card-body" style="margin-top:10PX">
                <div class="col-md-12">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <b>APPOINTMENT ID</b>
                                    @Html.EditorFor(model => model.AppointmentId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AppointmentId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <b>PATIENT</b>
                                    @Html.EditorFor(model => model.PatName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PatName, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-4">
                                    <b>PHONE NUMBER</b>
                                    @Html.EditorFor(model => model.phonenumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.phonenumber, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-4">
                                    <b>GENDER</b>
                                    @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <b>AGE</b>
                                    @Html.EditorFor(model => model.age, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.age, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <b>BLOOD GROUP</b>
                                    @Html.EditorFor(model => model.bloodgrp, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.bloodgrp, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <b>DATE</b>
                                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <b>TIME</b>
                                    @Html.EditorFor(model => model.AppTime, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AppTime, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    <b>DISEASE</b>
                                    @Html.EditorFor(model => model.disease, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.disease, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <br />
                            <div class="row">
                                <div class="col-md-6">
                                    <b>DIAGNOSIS</b>
                                    @Html.TextAreaFor(model => model.diagnosis, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.diagnosis, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    <b>MEDICINE</b>
                                    @Html.TextAreaFor(model => model.medicine, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.medicine, "", new { @class = "text-danger" })
                                </div>


                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-offset-2 col-md-12">
                                    <input type="submit" value="UPDATE" class="btn btn-dark" />
                                    <p style="color:red">@ViewBag.info</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>
}


