@model IEnumerable<HOSPITALMANAGEMENTSYSTEM.Models.Appointments>

@{
    ViewBag.Title = "Prescription";
    Layout = "~/Views/Doctor/DoctorMaster.cshtml";
}

@if (!Model.Any())
{
<center>
    <h1 style="color:red;text-align:center;margin-top:100px">@ViewBag.info</h1>
    <h3 style="margin-top: 50px;">
        @using (Html.BeginForm("Prescription", "Doctor", FormMethod.Post))
        {

            @Html.ActionLink("ADD NEW", "AddPrescription", "Doctor", new { @class = "btn btn-dark" })
        }

    </h3>
</center>
}
else
{
<center>
    <div style=" background-color: rgba(128,128,128,0.2);margin-top:20PX ">
        <h1 class="text-dark">PRESCRIPTION</h1>

    </div>
    <table style="width:100%;" class="table  table-hover">
        <thead>
            <tr>
                <th>
                    APPOINTMENT ID
                </th>
                <th>
                    PATIENT NAME
                </th>
                <th>
                    DISEASE
                </th>
                <th>
                    DATE
                </th>
                <th>
                    TIME
                </th>

                <th>
                    DIAGNOSIS
                </th>
                <th>
                    MEDICINE
                </th>
                <th>
                    UPDATE
                </th>

            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppointmentId)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PatName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.disease)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppTime)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.diagnosis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.medicine)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "EditPrescription", new { id = item.AppointmentId }, new { @class = "fas fa-edit", @style = "font-size:24px;margin-left:5px;color:black" })
                    </td>
                </tr>

            }
        </tbody>
    </table>
    @Html.ActionLink("BACK", "Appointments", "Doctor", new { @class = "btn btn-dark" })

</center>
}




















